/*******Basic Site Styles************/
* {
	font-family: 'ubuntu', sans-serif;
}

header {
	text-transform: uppercase;
   	text-shadow: 2px 2px 2px darkgrey;
   	background-color:  #F1900F;
   	color: #000000;
   	margin: 0px;
}
body {
	font-style: normal;
	background-color: #0A341C;
	color: #FFFFFF;

	font-weight: 600;
  	text-justify: inter-word;
	text-align: none;
  	text-justify: none;
  	margin: 0px;
}

h1 {
	text-align: center;
}

#about-title {
	text-align: center;
}

h4 {
	text-align: center;
}
footer {

	text-transform: uppercase;
   	text-shadow: 2px 2px 2px darkgrey;
   	background-color:  #F1900F;
   	color: #000000;
   	margin: 0px;
}



/********Page Header and Navigation
	box-sizing: border-box;
	font-weight: unset;
}


#static-head {
	background-color: #F1900F ;
	color: black;
}
body {
	font-family: sans-serif;
	margin: auto;
	background-color:#0A341C ;
	color: white;
}
h1 {
	color: ;
}
h2 {
	background-color:#0A341C;
	color: white;
	margin: 0px;

}

#main-nav {
	background-color:#F1900F
	color: black;
	height: 100px;

}
/***static foot
#static-foot {
	background-color:#F1900F;
	color: black;
	height: 50px;
}
figcaption {
	color: 255;
	text-align: center;
}

/****Home Page
.container #about {
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 2;
	color: pink;


}

#pictures
 { 
	background-color:#0A341C; 
	color: rgba(255, 255, 255, .5);
	margin-top: 20px;
	height: 300px;
	width: 400px;
}



/***Pictures
#bears {
	background-color:#0A341C;
	color: white;
	margin: 0;
}

#animal-count {
	background-color: pink;
	table-layout: fixed;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}
tr {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
td {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 0px;
}

#email {
	margin: 0px;
}
