body {
	background-color: lightgrey;
	margin: 4%;
}

h1 {
	color: #FFFFFF;
	font-size: 200%;
	font-family: Arial, sans-serif;
}

header {
	background: lightblue;
	text-align: center;
	padding: 15px;
}
header, footer {
	background: lightblue ;
	background: -moz-linear-gradient(top,lightblue 0%, lightpink);
	background: -webkit-linear-gradient(lightblue 0%, lightpink);
	background: -o-linear-gradient(lightblue 0%, lightpink);
	background: linear-gradient(lightblue 0%, lightpink);
}

nav	{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, sans-serif;
}
nav a {
	width: 20%;
	display: inline block;
	background-color: white;
}

h2 {
	color: blueviolet;
	background: pink;
	font-size: 125%;
	font-family: Helvetica, sans-serif;
}

.half {
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}
.whole {
	clear: both;
}
details {
	font-style: italic;
}
summary {
	font-style: normal;
}


footer {

	clear: both;
}
img {
	width: 125px;
}